.footer{
    height: 150px;
    background-image: url('https://cdn.pixabay.com/photo/2012/02/25/19/11/nightsky-16967_640.jpg');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.links{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
